{% extends 'base.html.twig' %}

{% block title %}Photo index{% endblock %}

{% block body %}
    <h1>Photo index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image_name</th>
                <th>Created</th>
                <th>Updated</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for photo in photos %}
            <tr>
                <td>{{ photo.id }}</td>
                <td>{{ photo.imageName }}</td>
                <td>{{ photo.created ? photo.created|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ photo.updated ? photo.updated|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_photo_show', {'id': photo.id}) }}">show</a>
                    <a href="{{ path('app_photo_edit', {'id': photo.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_photo_new') }}">Create new</a>
{% endblock %}
