{% extends 'base.html.twig' %}

{% block title %}CameraRollSize{% endblock %}

{% block body %}
    <h1>CameraRollSize</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ camera_roll_size.id }}</td>
            </tr>
            <tr>
                <th>Size</th>
                <td>{{ camera_roll_size.size }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ camera_roll_size.created ? camera_roll_size.created|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ camera_roll_size.updated ? camera_roll_size.updated|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_camera_roll_size_index') }}">back to list</a>

    <a href="{{ path('app_camera_roll_size_edit', {'id': camera_roll_size.id}) }}">edit</a>

    {{ include('camera_roll_size/_delete_form.html.twig') }}
{% endblock %}
