{% extends 'base.html.twig' %}

{% block title %}Client index{% endblock %}

{% block body %}
    <h1>Client index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
                <th>Password</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Active</th>
                <th>Created</th>
                <th>Updated</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.username }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.password }}</td>
                <td>{{ client.name }}</td>
                <td>{{ client.surname }}</td>
                <td>{{ client.active }}</td>
                <td>{{ client.created ? client.created|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ client.updated ? client.updated|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_client_show', {'id': client.id}) }}">show</a>
                    <a href="{{ path('app_client_edit', {'id': client.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_client_new') }}">Create new</a>
{% endblock %}
